*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/system/log
/system/plugins
/system/vcs-log
/system/frameworks
/system/external_build_system
/system/conversion
/system/compiler
/system/compile-server
/system/caches
/config/tasks